<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Confirmation</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">


</head>
<body>
<div class="container mt-5">
    <div class="confirmation-header text-center">
        <h2>Employee Confirmation</h2>
    </div>
    <div class="border p-4 bg-white shadow text-center">
        <p>Employee information successfully submitted!</p>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>